*{
    font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none;
}
#sicon{
    font-size: 25px;
}
@media  (max-width:991px){
    #img1{
        height: 40vh !important;
    }
}

/* From uiverse.io by @G4b413l */
.scanner h1 {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
   }
   
   .scanner h1::before {
    content: "How To Download...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #ee1808;
    overflow: hidden;
    color: #ec280a;
    animation: load91371 5s linear infinite;
   }
   
   @keyframes load91371 {
    0%, 10%, 100% {
     width: 0;
    }
   
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
     border-right-color: transparent;
    }
   
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
     border-right-color: #f00f0c;
    }
   
    60%, 80% {
     width: 100%;
    }
   }
   @media (max-width:600px){
    iframe{
        width: 100%;
    }
   }
